<h1> Poker homework </h1>

<br>
One way
<br>
<% 
card1 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
card2 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
card3 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
card4 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
card5 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample

suit1 = ["hearts","diamonds","spades","clubs"].sample
suit2 = ["hearts","diamonds","spades","clubs"].sample
suit3 = ["hearts","diamonds","spades","clubs"].sample
suit4 = ["hearts","diamonds","spades","clubs"].sample
suit5 = ["hearts","diamonds","spades","clubs"].sample
%>

<img src="http://golearntocode.com/images/cards/<%=card1%>_of_<%=suit1%>.png" width="166" height="242" >
<img src="http://golearntocode.com/images/cards/<%=card2%>_of_<%=suit2%>.png" width="166" height="242" >
<img src="http://golearntocode.com/images/cards/<%=card3%>_of_<%=suit3%>.png" width="166" height="242">
<img src="http://golearntocode.com/images/cards/<%=card4%>_of_<%=suit4%>.png" width="166" height="242">
<img src="http://golearntocode.com/images/cards/<%=card5%>_of_<%=suit5%>.png" width="166" height="242">

<br>

<!-- 
Another way
<br>

<img src="http://golearntocode.com/images/cards/<%=card1%>_of_<%=suit1%>.png" width="166" height="242" >
<img src="http://golearntocode.com/images/cards/<%=card2%>_of_<%=suit2%>.png" width="166" height="242" >
<img src="http://golearntocode.com/images/cards/<%=card3%>_of_<%=suit3%>.png" width="166" height="242">
<img src="http://golearntocode.com/images/cards/<%=card4%>_of_<%=suit4%>.png" width="166" height="242">
<img src="http://golearntocode.com/images/cards/<%=card5%>_of_<%=suit5%>.png" width="166" height="242">
-->
